a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all
}

a {
    color: #0366d6
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac
}

html {
    font-size: 14px
}

.border-top {
    border-top: 1px solid #e5e5e5
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05)
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit
}

html {
    position: relative;
    min-height: 100%
}

body {
    margin-bottom: 275px;
    font-family: Roboto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Medium.ttf)
}

.top-header-caption {
    color: #1d5d8b;
    line-height: 1.06;
    font-size: 17px;
    font-weight: bold
}

#main-nav {
    background-color: #1c5178;
    min-height: 49px;
    box-shadow: none;
    padding: 0;
    margin: 0 !important
}

#main-nav li {
    padding: 5px;
    margin: 0 20px
}

#main-nav li.active {
    background-color: #1d5d8b;
}

#main-nav a.active {
    background-color: #1d5d8b;
}

#main-nav li.nav-item .nav-link {
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
}

#main-nav a.navbar-brand {
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
    padding: 14px 10px;
}

.box-form-login-titleAndImage {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: #111;
    margin-top: 15px;
    text-transform: uppercase
}

.box-form-login-title {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #1d5d8b;
    text-transform: uppercase
}

#form-login .input-group {
    max-width: 453px !important
}

#form-login .form-control:focus {
    box-shadow: none;
    border-right: 1px solid #80bdff !important
}

#form-login ::placeholder {
    font-size: 14px;
    color: #727272
}

#form-login :-ms-input-placeholder {
    font-size: 14px;
    color: #727272
}

#form-login ::-ms-input-placeholder {
    font-size: 14px;
    color: #727272
}

#AjaxLogin {
    background-color: #1d5d8b;
    font-size: 17px;
    text-transform: uppercase
}

#AjaxLogin:hover {
    background-color: #256da0;
    font-size: 17px;
    text-transform: uppercase
}

#home-nav {
    background-color: #fff;
    height: 63px;
    border-bottom: 1px solid #ccc
}

#home-nav .nav-item {
    font-size: 15px;
    color: #414141;
    line-height: 2.2;
    border: solid 1px #ccc;
    height: 49px;
    margin: 0 2px;
    text-transform: uppercase
}

#home-nav .active {
    color: #fff;
    background-color: #114e7a
}

#home-nav #nav-tab {
    border-bottom: 0;
    padding-top: 14px
}

.home-title-content {
    font-size: 21px;
    font-weight: 700;
    line-height: .86;
    color: #114e7a;
    text-transform: uppercase
}

#list-ky-thi-content .card {
    margin-bottom: 10px
}

#list-ky-thi-content .card-body {
    padding: 0
}

#list-ky-thi-content .card-body .card-title {
    font-size: 19px;
    color: #fff;
    box-shadow: 0 2px 0 0 #1b6fab;
    background-color: #2983c3;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 65px
}

#list-ky-thi-content .card-body p {
    font-size: 14px;
    color: #191919;
    line-height: 1.86;
    margin-bottom: 0;
    padding: 0 10px
}

#list-ky-thi-content .card-body span {
    color: #9f224e
}

#list-ky-thi-content .card-body a {
    border-radius: 3px;
    border: solid 1px #1d5d8b;
    color: #114e7a;
    font-size: 17px;
    margin: 10px;
    background-color: #fff;
    padding: 3px 20px
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px
}

.show-more {
    background-color: #1d5d8b;
    font-size: 17px;
    color: #ededed;
    line-height: 1.06;
    padding: 10px 35px
}

.data-popover-userlogined-ul {
    min-width: 250px;
    background-color: #f1f1f1;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0
}

.data-popover-userlogined-ul li {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 12px 20px;
    border-bottom: 1px solid #ccc
}

.data-popover-userlogined-ul li.active {
    background-color: #114e7a
}

.data-popover-userlogined-ul li:hover {
    background-color: #114e7a
}

.data-popover-userlogined-ul li a {
    color: #144d7a;
    font-size: 15px;
    line-height: 2;
    text-decoration: none;
    display: block;
}

.data-popover-userlogined-ul li.active a {
    background-color: #114e7a;
    color: #fff
}

.data-popover-userlogined-ul li:hover a {
    background-color: #114e7a;
    color: #fff
}

.popover-body {
    padding: 0
}

.box-chi-tiet-ky-thi {
    border: solid 1px #ebebeb;
    box-shadow: -2.4px 1.8px 0 0 #e3e4e8;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px
}

.box-chi-tiet-ky-thi h1 {
    color: #0b4b79;
    line-height: 1.04;
    font-size: 24px;
    font-weight: 500
}

.box-chi-tiet-ky-thi p {
    color: #191919;
    line-height: 26px;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0
}

.box-chi-tiet-ky-thi p span {
    color: #9f224e;
    line-height: 26px;
    font-size: 14px;
    font-weight: 500
}

.box-chi-tiet-ky-thi a {
    text-transform: uppercase;
    margin-top: 20px;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.06
}

.box-lich-su-ky-thi {
    border: solid 1px #ebebeb;
    box-shadow: -2.4px 1.8px 0 0 #e3e4e8;
    border-radius: 5px;
    background-color: #fff
}

.box-lich-su-ky-thi h1 {
    color: #0b4b79;
    line-height: 1.04;
    font-size: 24px;
    font-weight: 500;
    padding: 20px
}

.box-lich-su-ky-thi table thead {
    background-color: #ededed;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.67;
    color: #1e1e1e;
    text-align: center
}

.box-lich-su-ky-thi table tbody {
    font-size: 15px;
    line-height: 1.67;
    color: #1e1e1e;
    text-align: center
}

.question-box {
    border: solid 1px #e1e1e1;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px
}

.question-active .question-box-title-number {
    background-color: #12a363;
    color: #fff;
}

.question-active {
    border: solid 1px #e1e1e1;
    background-color: #edfdf6
}

.question-box-title-number {
    border-radius: 4px;
    background-color: #e1e1e1;
    margin-right: 20px;
    font-size: 23px;
    color: #474748;
    text-align: center;
    line-height: 1.28;
    padding: 10px 0;
    max-height: 46px;
    max-width: 46px;
    margin: auto
}

.question-box-title {
    font-size: 15px;
    color: #454545;
    border-bottom: 1px solid #eee
}

.stat-test input[type=radio] {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

.table-answer {
    width: 468px;
    font-size: 13px;
    color: #6d6d6d;
    padding: 10px 0
}

.table-answer .answer-check {
    font-size: 18px;
    width: 80px;
    vertical-align: top;
    padding-left: 18px
}

.table-answer .answer-content {
    padding-top: 5px
}

.question-box td {
    vertical-align: top
}

.box-has-anwser {
    display: inline-block;
    background-color: #12a363;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 2px 7px;
    line-height: 23px;
    margin: 2px;
}

.box-no-anwser {
    display: inline-block;
    background-color: #e1e1e1;
    font-size: 14px;
    font-weight: 700;
    color: #474748;
    padding: 2px 7px;
    line-height: 23px;
    margin: 2px;
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.user-info-table td {
    padding: 10px;
    font-size: 15px;
    color: #2b2b2b;
    font-weight: 300;
    text-align: center;
}

.user-info-table th {
    padding: 10px 5px;
    text-align: center;
}

.user-info-list .row {
    padding: 10px 0;
}

.throbber-header {
    font-size: 145%
}

.throbber {
    display: none
}

.throbber .curtain {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #3e4d45;
    opacity: .9;
    filter: alpha(opacity=90);
    z-index: 9999
}

.throbber .curtain-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999
}

.throbber .curtain-content p {
    font-size: 35px
}

.throbber .curtain-content div {
    text-align: center;
    color: #FFF;
    z-index: 9999
}

#nav-tab a {
    cursor: pointer
}

#nav-tab .disabled {
    background: #e8e8e8;
    opacity: 0.5;
    display: none
}

.news-content img {
    max-width: 95% !important;
    margin: auto
}

.exam-filter select {
    max-width: 210px
}

.rank-box {
    height: 88px;
    width: 100%;
    border: 1px solid #b7b7b7;
    box-shadow: -2.4px 1.8px 0 0 #e3e4e8;
    border-radius: 5px;
    background-color: #ffffff;
}

.rank-box .rank-name {
    max-width: 60%;
}

.rank-box .rank-time {
    height: 100%;
    width: 106px;
}

.rank-col {
    padding-top: 20px;
}

.text-left-on-mobile {
    text-align: right;
}

.news-content {
    text-align: justify
}

.btn-start-test {
    min-width: 201px;
    border-radius: 20.5px;
    background-color: #ffce54;
    font-size: 17px;
    color: #212121;
    margin-right: 20px
}

.score-result-lable {
    margin-top: 20px
}

.score-result-value {
    margin-top: 20px
}

.test-body img {
    max-width: 100%
}

@media (min-width: 1200px) {
    .container {
        max-width: 1335px
    }
}

@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .rank-col {
        padding-left: 55px;
    }
    .score-result-lable {
        text-align: left;
        margin-top: 0px
    }
    .score-result-value {
        margin-top: 0px
    }
}

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px
    }
}

@media (max-width: 959px) {
    .rank-col {
        margin-top: 10px;
        border-top: 1px solid #dedcdc
    }
}

@media (max-width: 768px) {
    .show-on-mobile-f {
        display: unset !important
    }
    .hiden-on-mobile-f {
        display: none !important
    }
}

@media (max-width: 767px) {
    .header-user-menu {
        float: unset!important;
    }
    .top-header-caption {
        font-size: 15px;
    }
    .hiden-on-mobile {
        display: none !important
    }
    .show-on-mobile {
        display: unset !important
    }
    .box-form-login-titleAndImage {
        font-size: 18px
    }
    #home-nav {
        height: unset
    }
    #home-nav .nav {
        display: block
    }
    .home-title-content {
        font-size: 15px;
    }
    .exam-filter select {
        max-width: 100%
    }
    .rank-col {
        padding-left: 35px;
    }
    .text-left-on-mobile {
        text-align: left;
    }
    .btn-start-test {
        margin-right: 0;
        margin-bottom: 10px
    }
    #lblExamName {
        font-size: 14px !important;
    }
}

@media (max-width: 375px) {
    body {
        margin-bottom: 323px;
    }
    .rank-box {
        width: 100%;
        height: 100%;
    }
    .rank-box .rank-name {
        max-width: 100%;
    }
    .rank-box .rank-time {
        height: unset;
        width: 100%;
    }
    .hiden-on-s-mobile {
        display: none !important
    }
    .show-on-s-mobile {
        display: unset !important
    }
}

#logo-img {
    float: left;
    margin-right: 10px;
    min-height: 45px;
    margin-top: 10px;
    max-width: 70px;
}

#login-btn {
    margin-top: 13px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #124e7a;
    border-color: #124e7a;
    color: #fff;
    font-size: 17px
}